{% extends "::appLayout.html.twig" %}


{% block content %}

{{ reporte }}
<h1>Lista de Empleados por Estado</h1>

<table class="zebra">
    <thead>
        <tr>
            <th>Estado</th>
            <th>Votantes</th>
            <th>Votos</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
        </tr>
    </tfoot>
    <tbody>
    {% for entity in reporte %}
        <tr>
            <td>{{ entity.estado }}</td>
            <td>{{ entity.votantes|number_format(0, ',', '.') }}</td>
            <td>{{ entity.votos|number_format(0, ',', '.') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}