/* 
    Document   : appLayout
    Created on : 19/09/2012, 03:32:15 PM
    Author     : recchia
    Description:
        Purpose of the stylesheet follows.
*/
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
header, nav, section, article, aside, footer {
    display: block;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    height: 100%;
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {
    min-width: 1000px;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
    color: #ffffff;
    height: 100px;
    background: #2F2F2F;
}

/* Middle
-----------------------------------------------------------------------------*/
#content {
    padding: 0 0 100px;
}

#content h1 {
    text-align: center;
    margin: 1.5em;
}

/* Footer
-----------------------------------------------------------------------------*/
#footer {
    color: #ffffff;
    margin: -100px auto 0;
    min-width: 1000px;
    max-width: 1280px;
    height: 80px;
    background: #2F2F2F;
    position: relative;
}