/* 
    Document   : forms
    Created on : 24/09/2012, 08:17:07 PM
    Author     : piero
    Description:
        Purpose of the stylesheet follows.
*/
#fos_bundle {
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#fos_bundle label, input {
    display: block;
}

#app-form {
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
}

#app-form label, input {
    display: block;
}

#app-form textarea {
    width: 20em;
}